.gitconfig
test.db
db.sqlite3
backup.db
*.pyc
*.ipynb*
*.log
django.log.*
*.swo
*.gitpwd
commandes.txt
media
.idea/
mysite/.idea/
sass
config_mango.
appAgent/
static/.sass-cache/
.DS_*
keypairbnblord.pem
.venv
.coverage
/log
/hello
/staticfiles
*.pid
*.swp
config/jest
frontend/static/frontend/build
callcenter/static/js/
dashboard/static/dashboard/
.vscode
celerybeat-schedule.db
venv/*
node_modules
vandelay-py.js
celerybeat-schedule
.pre-commit-config.yaml
